/generate_input/sample_training/
/generate_input/sample_training_0_1/
/generate_input/sample_training_0_2/
/generate_input/sample_training_1_1/
/generate_input/simulation_configs_0/
/generate_input/simulation_configs_1/
